# Build directory
/lib/

# SDK build locations
newlib/
glibc/
pnacl/
emscripten/

# The submodule
!/emscripten/

# python
*.pyc
*.pyo

# emacs
*~
\#*\#
.\#*

# OSX
.DS_Store

# Xcode
UserInterfaceState.xcuserstate
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata


web/frontend/node_modules
web/api/node_modules


server/node_modules
server/bower_components
server/lib-cov
*.seed
*.log
*.out
*.pid
server/npm-debug.log
server/.netbeans
server/nbproject
server/.idea
server/.node_history