# Build directory
/lib/

# SDK build locations
newlib/
glibc/
pnacl/
emscripten/

# The submodule
!/emscripten/

# python
*.pyc
*.pyo

# emacs
*~
\#*\#
.\#*

# OSX
.DS_Store

# Xcode
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcworkspace/contents.xcworkspacedata


web/frontend/node_modules
web/api/node_modules

