body {
  background: #000;
}

body,html {
  width:100%; height:100%;
  margin: 0;padding: 0;
}
#wrap {
  width:100%;
  height:100%;
  display:table;
  position: relative;
  overflow:hidden;
  .inside {
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    color:#fff;
    font-size:100px;
    font-family:futura;
    
    span {
      opacity:0;
      display:inline-block;
      position:relative;
      margin-right: 0.2em;
      bottom:-20px;
      transition: bottom 0.5s cubic-bezier(0.68, -0.74, 0.18, 1.52) 0s , opacity 0.5s linear 0s , top  0.5s cubic-bezier(0.68, -0.74, 0.18, 1.52) 0s;
    }
    
    span.show {
      opacity:1;
      bottom:0;
    }
  }
  
  #emotions {
    position: absolute;
    left:0;
    bottom:-200px;
    margin: 0;padding: 0;
    display:flex;
    width:100%;
    height:200px;
    background-color: rgba(0,0,0,0.5);
    transition: bottom 0.5s cubic-bezier(0.68, -0.74, 0.18, 1.52) 0s;
    
    .result & {
      bottom:0;
    }
    li {
      margin: 0;padding: 0;
      list-style-type:none;
      width:20%;
      text-align:center;
      font-family: impact;
      position: relative;
      .label {
        height:100%;
        width:100%;
        text-align:center;
        line-height:200px;
        color:#fff;
        font-size:24px;
        letter-spacing: 4px;
      }
      .gauge {
        position: absolute;
        left:0;
        bottom:0;
        opacity:0.8;
        height:0%;
        width:100%;
        transition:height 0.5s cubic-bezier(0.48, -0.01, 0, 1.04) 0s;
      }
      
      &.anger {
        .gauge { background-color:red; }
      }
      &.disgust {
        .gauge { background-color:#E600FF; }
      }
      &.fear {
        .gauge { background-color:blue; }
      }
      
      &.joy {
        .gauge { background-color:#0DFF00; }
      }
      &.sadness {
        .gauge { background-color:#00B6FF; }
      }
    }
  }
}

.brand {
  $size: 400px;
  position: absolute;
  height:$size;
  width:$size;
  margin: $size*-0.5;
  z-index:100;
  left:50%;
  top:calc(50%);
  transform:scale(1);
  opacity:0.5;  
  transition: transform 0.5s cubic-bezier(0.68, -0.74, 0.18, 1.52) 0s , opacity 0.5s linear 0s , top  0.5s cubic-bezier(0.68, -0.74, 0.18, 1.52) 0s;
  
  
  .result &{
    transform:scale(1.8);
    opacity:0.05;
    top:calc(50% - 100px);
  }
}